@import url("stilelogin.css");
body{
    position: relative;
    font-size: 75%;
    margin:auto;
    width: auto;
    margin:auto;


}
#titoloheader {font-size: 30px;
               font-family:'Merriweather', sans-serif;
               position: absolute;
               top:40px;
               left:100px;}
* {
    font-family: Sans-serif;
    font-size: 12px;
}
label, legend {
    font-weight: bold;
}
h2{font-size: 18px;
             
             font-family:'Merriweather', sans-serif;
             color:grey;}
table {
    font-family: Sans-serif;
    font-size: 12px;
}

div#main_container {
    left: 0;
    top: 0;
    width: 1024px;
    margin:auto;
    -moz-box-shadow: 0 0 5px 5px #888;
    -webkit-box-shadow: 0 0 5px 5px #888;
    box-shadow: 0 0 5px 5px #888;
    filter:
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=0,strength=5),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=45,strength=2),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=90,strength=5),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=5),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=180,strength=10),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=225,strength=5),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=270,strength=5),
        progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=315,strength=2);

}
div#header {
    border-bottom: 2px solid gray;
    clear: both;
    position: relative;
   
    color:black;
    height: 100px;
    psosition: relative;
    width: 1024px;
}
div#header img{width:200px;  position: absolute; top:25px;
               left:20px; border:3px solid white;}
div#left_menu {
    border-right: 2px solid gray;
    float: left;
    padding: 10px;
    margin-top: 10px;
    width: 150px;
    background-color: white;
  

}
div#left_menu ul {
    border-top: 1px solid #f1f4f9;
    list-style: none outside none;
    padding-left: 0;
}
div#left_menu li {

    margin-bottom: 20px;
}
div#left_menu li a {
    border: 1px solid white;
    color: orange;
    display: block;
    font-size: 16pt;
    padding: 3px;
    text-decoration: none;
    text-transform: uppercase;

}
div#left_menu li a.selected {
    border: 1px solid orange;
    color: #08c;
    text-transform: uppercase;
    font-weight: bold;
}
div#left_menu li a:hover {
    border: 1px solid black;
    color: black;
}
div#user_infos {
    color: black;
    position: absolute;
    top:45px;
    right:50px;
    font-size: 18px;
    
}
div#user_infos a {
    color: black;
    font-size: 14px;
    text-decoration: none;
}
div#user_infos a:hover {
    color: red;
    text-decoration: underline;
}
div#main_body {


    height: 90%;
    margin-left: 150px;
    padding: 10px;
    margin-top: 8px;
    position: relative;
  
}

#preview{width: 100%;
         margin-top: 20px;
         margin-left: 10px;

}
#preview img{width: 600px;
             position: absolute;
             left:110px;
             top:180px;
             -moz-box-shadow: 0 0 5px 5px #888;
             -webkit-box-shadow: 0 0 5px 5px #888;
             box-shadow: 0 0 5px 5px #888;
             filter:
                 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=0,strength=5),
                 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=45,strength=2),
                 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=90,strength=5),
                 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=135,strength=5),
                 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=180,strength=10),
                 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=225,strength=5),
                 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=270,strength=5),
                 progid:DXImageTransform.Microsoft.Shadow(color=#aaaaaa,direction=315,strength=2);
}
.left {
    float: left;
}
.right {
    float: right;
}
.dontdisplay {
    display: none;
}
div#user_infos a#edit-mine {
    font-size: 12px;
}
.validation-error {
    border: 1px solid red;
}
div.validation-box {
    border-bottom: 1px solid gray;
    color: red;
}
div.dialog_msg {
    color: black;
    font-size: 16px;
    font-weight: bold;
    position: relative;
}


button{
    padding: 2px;
}
#back{ width: 100px; height: 100px; position: absolute; top:500px;right: 0; }
#back img{width: 90px;}
#superbox{
    position:relative;
    width: 100%;

}
#pulsantiera{
    padding-bottom:20px;

}



form{
    text-align: left;
}

label{padding-top: 5px;

}
.info{
    padding-left: 20px;
}

.infomezza{width: 25%;
}
.datepicker{
    float:right;
}

.boxinfomezza, .boxinfo{
    width: 200px;
    text-align: justify;
    padding-bottom: 20px;


}

.boxinfo h2{
    font-size: 16px;
    font-family:'Merriweather', sans-serif;
}
#lunga{width: 600px;}
.boxinfomezza label{padding-right: 5px;
                    margin-left: 30px;

}
#fieldsponsor{width: 450px;
              height: 100%;
              position: relative;
}
#immaginesponsor{
    float:left;
    width:150px;
    height: 200px;
    padding-right: 10px;
}
#immaginesponsor img{
    width:90%;
    height: auto;
}

#ordgal{background-color: white;
        width:100%;
        min-height: 0;
}

#ordgal li{width: 120px;height: 150px; float:left;
           list-style: none;
           margin-right: 10px;
}
#ordgal li img{height: 120px;}
#ordsponsor li{width: 70px; height: 70px; float:left;
               list-style: none;}
#ordsponsor img{
}

#nuovoutente{
    width: 100%;
    padding:20px;
    text-align: justify;
}
#boxmail{
    width: 550px;

    text-align: right;
}
#boxmail label{text-align: left;
}
#boxsponsornero {min-width: 400px;}
#boxsponsornero li{border:1px solid white; margin-right: 20px;margin-bottom:10px;width:200px; float:left; text-align: center; list-style: none;}
#boxsponsornero legend{padding: 5px;}
#cellasponsor img,#boxsponsornero {padding:5px;
                                   background-color: lightgrey;}
#uploader{
    min-height: 350px;
    position:relative;
}
#uploader a {
    text-decoration: none;
    color:black;
    padding: 5px;
    border:1px solid black;
}
#uploader a:hover {
    color:red;
    text-decoration: underline;
    padding: 5px;
    border:1px solid red;
}


#pulsantiera2{
    width: 100%;
    background-color: white;
    height: 40px;
    position: fixed;
    text-align: left;
    top:0;
    left: 30px;
    z-index: 500;
    display: block;
    border-bottom: 1px solid grey;

}
#tabs{
    margin-top: 30px;
}
form{min-width: 1024px;
     margin-left:20px;
}
fieldset{width: 100%; margin:auto;}
textarea{ margin:auto;}
#bigbox{width: 1024px;
       
        text-align: center;}
#bigbox2{width: auto;
text-align: center;}
#leftbox{width:50%;
         margin:auto;
         margin-top: 50px;}
#rightbox{
    margin-top: 120px;
    width: auto;
    float:left;
    margin-left: 20px;
}
.hrbox{
    width: 100%;
    clear:both;
}
#logoreb{
    text-align: center;
    padding-top: 40px;
}

#footer{
    width:100%;
    height:35px;
    
    border-top: solid 1px #EBEBEB;
    position: fixed;
    bottom:0;
    background-color: white;

}

#copy{
    float:left; 
    margin: 10px 10px 0 50px;}
#copy a{color: black;
        text-decoration: none;}
#footertext{text-align:  right; margin-right: 30px;
}

.cellafoto{text-align: center;}
#formload{margin-top: 20px; }
#formload input[type="text"]{width: 600px !important;
                             margin-left: 10px; }
#formload input[type="file"]{margin-left: 0px;
                             background-color: white;}
#formload input[type="image"]{
    height: 50px;

}
#formload h2{font-size: 18px;
             float:left;
             font-family:'Merriweather', sans-serif;
             color:grey;}

#list{width: 600px;}
#fotopreview{

}

#next{position: absolute;
      top:200px;
      left:850px;}

.spessore , .spaziatore{
    visibility: hidden;
    width: 100%;
    clear:both;
    height: 0px;
    color:white;
background-color: white;
}

.ui-jqgrid{float: left;}
