/* 
    Document   : stilelogin.css
    Created on : 1-ago-2012, 18.23.14
    Author     : Francesco Tanganelli bartrosso
    Email      : bartrosso@gmail.com
    Description:
        Stile del login sul pannello di controllo 
*/

root { 
    display: block;
}
html, body, div, h1, h2, h3, h4, h5, h6, p, img, dl, dt, dd, ol, ul, li, table, tr, td, form, object, embed, article, aside, canvas, command, details, fieldset, figcaption, figure, footer, group, header, hgroup, legend, mark, menu, meter, nav, output, progress, section, summary, time, audio, video {
    border: 0 none;
    margin: 0;
    padding: 0;
}
input[type="email"], input[type="number"], input[type="password"], input[type="tel"], input[type="text"], input[type="url"] {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    -moz-box-sizing: border-box;
    
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 2px 2px 2px 2px;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
    height: 29px;
    margin: 0;
    padding: 0 8px;}
   html{background: none repeat scroll 0 0 #FFFFFF;
    color: #333333;
    direction: ltr;
    font: 81.25%/1 arial,helvetica,sans-serif;}
html, body {
    height: 100%;
    min-width: 100%;
    position: absolute;
}
body{background-color: white;
     height: 100%;
     min-height: 600px;
     width: 100%;
 }
 .wrapper{    min-height: 100%;
    position: relative;}
 .main{
width: auto;}
.loginbox{width:335px; 
      height:226px; 
      background-color:#F1F1F1; 
      border:1px solid #e5e5e5;
      z-index:+300; 
      position:absolute; 
      left:50%;
      margin-left: -180px;
      top:250px;
      -moz-box-shadow: 00px 5px 5px #E5E5E5;
      -webkit-box-shadow: 0px 5px 5px #E5E5E5 ;
      box-shadow: 0px 5px 5px #E5E5E5;
      padding: 20px 25px 15px;
      text-align: left;
      font-family:  sans-serif;
      font-weight: normal;
      color:black;
      font-size: 16px;
      text-align: justify;}

#submit{
    background-color: #498CFA;
    color:white;
    border:1px solid #a6b6d9;
    font-size: 13px;
    height: 32px;
    width: 335px;
    margin:0 1.5em 1.2em 0;
    line-height: 29px;
    position:absolute;
    bottom:25px;
    
}
h1{text-align: center;
margin: auto;
text-shadow: #6374AB 20px -12px 2px;
margin-top: 10%;}
.label{margin: 0 0 2.5em;}
.loginbox img{ position:absolute; top:10px; right:30px; height: 60px;}

input {
  font-family: arial, verdana;
  font-size: 15px;
  width: 335px;
  height: 32px;
  }
.corretto,
.errore {
  padding: 3px;
  text-align: center;
}
.corretto,
.errore {
  width: 200px;
  float:right;
  font-weight: bold;
  border: 1px solid #349534;
  background: #C9FFCA;
  color: #008000;
}
.errore {
  border: 1px solid #CC0000;
  background: #F7CBCA;
  color: #CC0000;
}
#header{
 
    border-bottom: 1px solid #e5e5e5;
    height: 70px;
    width: 100%;
    position: absolute;
    top:0;
}
#header img{
    position: absolute;
    left: 50px;
    top:15px;
    width:  120px;
}

.sign{float:right;
margin: 22px 35px;}
#footer{
    width:100%;
    height:35px;
    clear:both;
    border-top: solid 1px #EBEBEB;
    position:absolute;
background-color:white;
        bottom:0;
}

#copy{
float:left; 
margin: 10px 10px 0 50px;}
#copy a{color: black;
text-decoration: none;}
#titolino{margin-bottom: 1.5em;}
.inputs{
    width: 100%;
    margin: 0 0 22px 0;
}
table{width: 100%;}

.label{
    font-size: 14px;
    font-weight: bold;
    
}

.textInput,textarea{  /* General style for my inputs when they're not highlighted */
  width:320px;
  background-color:#FFFFFF;
  
}


.inputHighlighted{  /* Highlighting style */
  background-color:#498CFA;
  color:#FFF;
  width:320px;
    border-color: #C0C0C0 #D9D9D9 #D9D9D9;
    border-image: none;
    border-radius: 20px 20px 20px 20px !important;
    border-right: 1px solid #D9D9D9;
    border-style: solid;
    border-width: 1px;
    display: inline-block;
} 

#footertext{text-align:  right; margin-right: 30px;
}

